
/*############################## header #############################*/

#Header{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#Date{
    display: flex;
    justify-content: flex-end;
}
#prenomParticipant{
    display: flex;
    justify-content: flex-end;
}



/*############################## filtre #############################*/

#filtre{
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 25%;
}
#filtre2{
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
}

/*############################## ldtSortie #############################*/
#lstSorties{
    margin: 10px;
}
