
/*############################## header #############################*/

#Header{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#Date{
    display: flex;
    justify-content: flex-end;
}
#prenomParticipant{
    display: flex;
    justify-content: flex-end;
}



/*############################## filtre #############################*/

#filtre{
    min-height: 200px;

}

