.imgButton {
    max-width: 20%;
    max-height: 20%;

}
img{
    border-radius: 20%;
}


:root {
    --primary-color: #004982;
    --secondary-color: #011f39;
    --third-color: #999999;
    --text-1: #ffffff;
    --text-2: #95B258;
    --text-3: #333333;
    --text-4: #F6F5FA;
    --fond: #EBF4FB;
    --colorQuentin: #158CBA;

}



html, body{
    font-family: 'Open Sans', sans-serif;
}
::-webkit-input-placeholder{
    font-family: 'Spinnaker';
}

* {
    margin: 0;
    padding: 0;
}

.form-control {
    font-family: 'Open Sans';
}

.button {
    color: var(--text-1) !important;
}

.button1 {
    background-color: var(--primary-color);
    color: var(--text-1) !important;
}

.button2 {
    background-color: var(--colorQuentin);
    color: var(--text-1) !important;
}

.button3 {
    background-color: var(--third-color);
    color: var(--text-1) !important;
}

h1 {

    color: var(--primary-color);
    text-align: center;
}
nav a{
    font-size: large;
    font-weight: bolder;
    font-family: 'Spinnaker';
    color: var(--text-1);
}
footer {
    background-color: var(--secondary-color);
    margin-bottom: 5px;
}



/*############################ Afficher une Sortie #################################*/

#AfficherSortieForm{
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 48%;
    padding: 10px;
}

/*############################ Creation d'une Sortie #################################*/

#CreateSortieForm{
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 48%;
}

/*############################ Login #################################*/

#formLogin{
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    padding: 20px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/*############################ Afficher participant #################################*/

#ProfilParticipant{
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    padding: 20px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}
/*############################ Accueil #################################*/

/*########header ############*/
#Header{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#Date{
    display: flex;
    justify-content: flex-end;
}
#prenomParticipant{
    display: flex;
    justify-content: flex-end;
}


/*########## filtre ###########*/

#filtre{
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 25%;
}
#filtre2{
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
}

/*########## lstSortie ###########*/
#lstSorties{
    margin: 10px;
}


/*############################  #################################*/
