.imgButton {
    max-width: 20%;
    max-height: 20%;

}

img {
    border-radius: 20%;
}


:root {
    --primary-color: #004982;
    --secondary-color: #011f39;
    --third-color: #999999;
    --text-1: #ffffff;
    --text-2: #95B258;
    --text-3: #333333;
    --text-4: #F6F5FA;
    --fond: #EBF4FB;
    --colorQuentin: #158CBA;

}

html, body, ::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.form-control {
}

.button {
    color: var(--text-1) !important;
}

.button1 {
    background-color: var(--primary-color);
}

.button2 {
    background-color: var(--colorQuentin);
}

.button3 {
    background-color: var(--third-color);
}

.button4 {
    background-color: var(--text-2);
}

h1 {

    color: var(--primary-color);
    text-align: center;
}

nav a {
    font-size: large;
    font-weight: bolder;
    color: var(--text-1);
}

footer {
    background-color: var(--secondary-color);
    margin-bottom: 5px;
}


/*############################ mise en forme pour les pages Sortie #################################*/

.cssForm {
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 48%;
    padding: 10px;
}

/*############################ mise en forme de Login, Participant #################################*/

.cssUser {
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    padding: 20px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/*############################ Accueil #################################*/

/*########header ############*/
#Header {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#Date {
    display: flex;
    justify-content: flex-end;
}

#prenomParticipant {
    display: flex;
    justify-content: flex-end;
}


/*########## filtre ###########*/

#filtre {
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 25%;
}

#filtre2 {
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
}

/*########## lstSortie ###########*/
#lstSorties {
    margin: 10px;
}


/*############################ g   #################################*/
